body {
	font-family: 'Montserrat', sans-serif ;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
	
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
	margin: 0px auto;
}

.container {
	width: 1170px;
	margin:0 auto;

}

.header {
	background: rgba(78,191,254,1);
background: -moz-linear-gradient(-45deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,191,254,1)), color-stop(100%, rgba(55,143,217,1)));
background: -webkit-linear-gradient(-45deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: -o-linear-gradient(-45deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
background: linear-gradient(135deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebffe', endColorstr='#378fd9', GradientType=1 );
padding-top: 62px;
color: #fff;
padding-bottom: 100px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.btn{	
	background-color:#ffd429 ;
	padding: 20px 0;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat', sans-serif ;
	font-weight: bold;
	display: block;
	width: 221px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover{
background-color: #dbd2ad;
}
.info2{
	margin-bottom: 40px;
}
.title{font-size: 30px;
font-weight: bold;
}

.intro{
font-size: 40px;
margin-bottom: 30px;

}

.photo1{
	width: 40%;}
.offer{
	max-width: 500px;
}

.desktop{
	margin-bottom: 60px;
}

.goals{
	text-align: center;
	padding: 10px;
	width: 320px;
	background: url(../media/freetime.jpg) no-repeat top ;
	padding-top: 80px;
	
}
.goals-free{
	background: url(../media/icon2.jpg) no-repeat top ;	
}
.goals-change{
	background: url(../media/icon3.jpg) no-repeat top ;	
}

.future{
	padding-bottom: 120px;
}

.section-title{
	text-align: center;
	margin: 50px 50px ;
}
.icon{
	padding-bottom: 10px;
}
.mail{
background-color: #ecf3f8;	
display: flex;

}	

.section-title{
	padding-bottom: 64px;
	margin: 0 auto;
	padding-top: 110px;
	display: block;
	text-align: center;
}

.form{
display: flex;
flex-flow: column wrap;
width: 345px;
margin: 0px auto;
}

.input{
	text-align: center;
	padding: 5px;
	margin: 10px 15px;
}

.btn2{
	background-color:#ffd429 ;
	padding: 20px 0;
	color: rgb(0, 0, 0);
	font-family: 'Montserrat', sans-serif ;
	display: block;
	font-weight: bold;
	width: 221px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	margin: 10px auto;
	width: 315px;	
	margin-bottom: 80px;
	
}

.footer{
	background-color: #164d7a;
	color: #fff;
	text-align: center;
	
	
}

.credits{
	padding-top: 100px;
	padding-bottom: 100px;
}
